.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.activate-error, .activate-message{
    text-align: center;
}
.activate-error{
    color: rgb(219, 0, 0);
}